beautifulsoup4
chromedriver_binary
click
dnspython
emoji
ExifRead
ffmpeg
ffpyplayer
Flask
Flask_SQLAlchemy
geopy
googletrans
gTTS
img2pdf
keras
lxml
matplotlib
nltk
numpy
pandas
Pillow
psutil
py_notifier
pyautogui
pycryptodome
pycryptodomex
pygame
pypdf2
pytest
python-telegram-bot
pywhatkit
qrcode
Requests
selenium
SpeechRecognition
sumeval
sumy
tensorflow
textblob
tqdm
tweepy
webdriver_manager
wikipedia
wordcloud
xmltodict
